.claimForm
{
    width:60%;
    margin-top: 5%;
    
}
fieldset
{
    border:2px solid red;
    border-radius: 50px 50px 50px 50px;
}
legend
{
    font-size: 22px;
    font-weight:bold;
    text-align: center;
}
.claimForm input
{
    width:80%;
    margin-left: 8%;
    margin-bottom: 3%;
    font-size: 22px;
    font-weight:bold;
    
}

.claimForm input[type=submit]
{
   width:40%;
   margin-left:30%;
   background-color:goldenrod;
   color:black;

     
}